.container{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.redPart{
   margin: auto;
   background-color: #de2b24; 
   width: 100%;
   height: 800px;
}

.redPartText{
    
    margin: auto;
    margin-top: 7%;
    height: 100px;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 32px;
     color: white;
    font-family:  Arial;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.redPartText .redPartTextRow2{
    color: white;
    font-family:  Calibri;   
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    line-height: 13px;
}

.redPartText .redPartTextRow3{
    font-size: 35px;
     color: white;
    font-family: Calibri;
    text-align: center;
    font-weight: 900;
    line-height: 1px;
    padding-bottom: 55px;
}

.blocks{
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50%;
    background-color: #f35e59;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block{
   
width: 25%;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.block:hover{
    transition: 0.5s;
    transform: scale(1.2);
}


.elements1{
    padding-top: 10px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
    line-height: 25px;
}

.elements2{
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}



.bluePart{
    background-color: #1287bf;
    width: 100%;
    height: 850px;
}

.bluePartText{
    margin: auto;
    margin-top: 5%;
    height: 100px;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bluePartText .bluePartTextRow1{
    font-size: 32px;
     color: white;
    font-family:  Arial;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}

.bluePartText .bluePartTextRow2{
    color: white;
    font-family:  Calibri;
    
    text-align: center;
    font-weight: lighter;
    
    font-size: 19px;
    line-height: 20px;
    padding-bottom: 20px;
}


.bluePartText .bluePartTextRow3{
    margin: auto;
  width: 4em;
  height: 4em;
  border: 4px solid white;
  border-radius: 50%;
  line-height: 5em;  /* подробнее про line-height */
  text-align: center;  /* выравнять текст по середине по горизонтали */
  background: #1287bf;
  color: white;
  
}

.bluePartText .bluePartTextRow3:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.bluePartText .bluePartTextRow3 img{
    padding-top: 18px;
    
}



.bluePartForm{
    
    
    height: 550px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.bluePartFormRow1{
    
    margin-top: 9%;
    background: green;
    position: relative;
    width: 100px; height: 0px;
    
    background-color: transparent;
}
.bluePartFormRow1::after{
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 10px; bottom: -20px; /* Положение треугольника */
    
    border-top: 10px solid white; /* Добавляем треугольник */
    border: 40px solid transparent; border-bottom: 40px solid white;
    
}

.bluePartFormRow2{
    
    margin-top: 20px;
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 3px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bluePartFormRow3 img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.bluePartFormText1{
    text-align: center;
}
.bluePartFormText1 p{
    color: #828282;
    font-family:  Calibri;
    
    text-align: center;
        
    font-size: 16px;
    
    padding-top: 7%;
}

.bluePartFormText2 input{
    padding-left: 18px;
    margin-top: 1%;
    
    border-style: solid;
    border-color: #d8d8d8;
    height: 50px;
    width: 420px;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial;
    color: #b0b0b0;
    font-weight: bold;    
}

.bluePartFormText2 input:hover{
    padding-left: 18px;
    margin-top: 1%;
    
    border-style: solid;
    border-color: #1287bf;
    height: 50px;
    width: 420px;
    background-color: white;
    border-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial;
    color: #b0b0b0;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2) ;
    transition: 0.5s;
    transform: scale(1.2);
}

.bluePartFormText2 input:focus{
    padding-left: 18px;
    margin-top: 1%;
    
    border-style: solid;
    border-color: #1287bf;
    height: 50px;
    width: 420px;
    background-color: white;
    border-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial;
    color: #b0b0b0;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2) ;
    transition: 1s;
    transform: scale(1.2);
}

.bluePartFormText5 input{
    margin-top: 20%;
    border: none;
    
    height: 44px;
    width: 160px;
    background-color: #de2b24;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-content: center;
}

.bluePartFormText5 input:hover{
    margin-top: 20%;
    border: none;
    
    height: 44px;
    width: 160px;
    background-color: #1287bf;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    color: #de2b24;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.4) ;
    transition: 0.5s;
    transform: scale(1.2);
}

.bluePartFormText5 input:visited{
    margin-top: 20%;
    border: none;
    
    height: 44px;
    width: 160px;
    background-color: #1287bf;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    color: #de2b24;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.4) ;
}

.bluePartFormRow3 img{
    height: 55px;
    width: 55px;
    position: absolute;
    margin-left: 300px;
}

.blackPart{
    background-color: #2a2a2a;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.blackPartRow1{
    
    font-size: 32px;
     color: white;
    font-family:  Arial;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    
}

.blackPartRow2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 -10px;
}

.blackPartRow3 p{
    color: white;
    font-family:  Calibri;
    
    text-align: center;
    font-weight: lighter;
    
    font-size: 16px;
    
    
}

.blackPartRow4 input{
    padding-left: 2%;
    border: none;
    height: 50px;
    width: 700px;
    font-size: 15px;
    font-family: Calibri;
    color: white;
    box-shadow: none;
    border-color: #2a2a2a;
    background-color: #515151;
}

.blackPartRow4 input:hover{
    padding-left: 2%;
    border:none;
    height: 50px;
    width: 700px;
    font-size: 15px;
    font-family: Calibri;
    
    box-shadow: 0 0 10px #de2b24 ;
    border-color: black;
    background-color: #515151;
    transition: 0.5s;
    transform: scale(1.1);
}

.blackPartRow4 input:focus{
    padding-left: 2%;
    border:none;
    
    font-size: 15px;
    font-family: Calibri;
    
    box-shadow: 0 0 10px #de2b24 ;
    border-color: black;
    background-color: #515151;
    transition: 0.5s;
    transform: scale(1.1);
}

.blackPartRow5{
padding-bottom: 40px;
}

.blackPartRow5 input{
margin: auto;
    border-style: solid ;
    border-color: #515151;
    height: 50px;
    width: 160px;
    background-color: #2a2a2a;
    border-radius: 2px;
    font-size: 15px;
    font-family: Arial;
    color: white;
    font-weight: bold;
    
}

.blackPartRow5 input:hover{
    margin: auto;
    border-style: solid ;
    border-color: #de2b24;
    height: 50px;
    width: 160px;
    background-color: #2a2a2a;
    border-radius: 2px;
    font-size: 15px;
    font-family: Arial;
    color: #de2b24;
    font-weight: bold;
    transition: 0.5s;
    transform: scale(1.2);
}

.blackPartRow2Media2:hover{
    height: 35px;
    width: 45px;
    text-align: center;
    border: 2px solid;
    border-color: #e02921;
    border-radius: 2px;
    margin: 0 10px; 
    padding-top:10px;
    transition: 0.5s;
    transform: scale(1.2);
}

.blackPartRow2Media2{
  height: 35px;
    width: 45px;
    text-align: center;
    border: 2px solid ;
    border-color: #515151;
    border-radius: 2px;
    margin: 0 10px;
    padding-top:10px
}

footer{
    background-color: #515151;
    height: 50px; /* Высота блока */
    border: 2px solid #515151; /* Параметры рамки */
    
    background: #515151 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */

    color: white;
    font-family:  Calibri;
    
    text-align: center;
    font-weight: lighter;
    
    font-size: 18px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}