
@using EpamPractice.Infrastructure
@{
    ViewBag.Title = "Profile";
}

<div class="text-center mt-2 mb-3"><h2>Анкета</h2></div>

@using (Html.BeginForm("ProfileShowResults", "Home"))
{

    <div class="card mb-3 bg-transparent">
        <div class="forP">
            <p>Ваше имя @Html.TextBox("nameFromProfile", ViewBag.Return as string, new { @class = "form-control" })</p>
            <p>Ваша фамилия @Html.TextBox("lastNameFromProfile", "", new { @class = "form-control" })</p>
        </div>

        <fieldset class="form-group">
            <legend>Ваш пол</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="мужчина" checked="">
                    Мужчина
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="женщина">
                    Женщина
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="другое" disabled="">
                    Больше вариантов нет
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend>В каких странах были?</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="true" name="England">
                    Англия
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    @*@Html.CheckBox("Canada", false, new { @class="form-check-input"})*@
                    <input class="form-check-input" type="checkbox" value="true" name="Canada">
                    Канада
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="true" name="Germany">
                    Германия
                </label>
            </div>
        </fieldset>

        <div class="form-group">
            <label for="exampleSelect1">Оцените блог</label>
            @*@Html.DropDownList("rate", new SelectList(new [] { "1","2","3","4","5"}), "1", new { @class = "form-control"})*@
            <select class="form-control" id="exampleSelect1" name="rate">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="myClassInputB">
            <input type="submit" class="btn btn-primary mb-3" name="Send" value="Отправить" />
        </div>

    </div>

    @Html.ListArrayItems((string[])ViewBag.Colors)
    
}






